.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 30px;

  color: #333;

  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
  margin-right: 20px;

  color: #333;
}

.header a:hover {
  color: #000;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.logo {
  font-size: 20px;
  color: #f00;
  text-transform: uppercase;
}

.logo a {
  color: #f00;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    flex-direction: column;
    margin: 20px 0;

    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}
